flask
flask-cors
# Install these packages to instrument a Flask app with OpenTelemetry
# opentelemetry-api
# opentelemetry-sdk
# opentelemetry-exporter-otlp-proto-http
# opentelemetry-instrumentation-flask
# opentelemetry-instrumentation-requests
# Install these packages to instrument a Flask app with AWS X-Ray
# aws-xray-sdk
# Install Watchtower for Logging
# watchtower
# Install Rollbar and Blinker for collecting errors
# rollbar
# blinker

Flask-AWSCognito
# pyjwt